docs/final_report_latex/main.aux
docs/final_report_latex/main.log
docs/final_report_latex/main.out
docs/final_report_latex/main.synctex.gz
docs/final_report_latex/main.toc
.venv/
notebooks/data/*
data/RealWaste


